*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: white;
    font-size: 25px;
    font-family: monospace;
}
header {
    background-color: rgb(199, 202, 205);
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;  
}

.nav {
    display: flex;
    gap: 30px;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
 li{
    list-style: none;

 }

 button{
    width: 100px;
    height: 40px;
    background-color: rgb(255, 251, 250);
    border: 0px;
    border-radius: 5px;

 }

 a{
    text-decoration: none;
    color: blanchedalmond;
    
 }
 .container{
    height: 400px;    
    background: linear-gradient(135deg,
    #43d8c9,
    #4da3ff);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .content {
    text-align: center;
    color: white;
 }
 .quote{
    font-size: 18px;
    max-width: 700px;
    line-height: 1.7;
 }
 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;   
 }
 h2{
    color: white;
    margin-top: 15px;

 }
 span{ 
    color: white;
    opacity: 0.8;

}